<div>
  <%= form.label question.title %><br>
  <% if question.description.present? %>
    <div>
      <%= "Description: #{question.description}" %><br>
    </div>
  <% end %>
  <% question.options.each do |option| %>
    <%= form.radio_button "question[#{question.id}][response]", option %>
    <%= form.label option %><br>
  <% end %>
</div>

<%= hidden_field_tag :question_type, "SingleChoice" %>
